@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fa;
  --foreground: #343a40;
  --primary: #6c757d;
  --secondary: #e9ecef;
  --accent: #adb5bd;
  --pastel-blue: #d7e3fc;
  --pastel-green: #d7e9d8;
  --pastel-yellow: #fff3bf;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.prose {
  max-width: 65ch;
  color: var(--foreground);
}

.quote-fade {
  animation: fadeInOut 10s ease-in-out infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-arrow {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
